<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.filestack.android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".FsActivity"
            android:label="@string/picker_title"
            android:theme="@style/NoActionBar"/>
    </application>

</manifest>
