<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.filestack.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>


    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name=".FsActivity"
            android:label="@string/filestack__picker_title"
            android:theme="@style/FilestackNoActionBar"/>

        <service
            android:name=".internal.UploadService"
            android:exported="false"/>

    </application>

</manifest>
